.home-head__section {
  display: flex;
  flex-wrap: wrap;
}

.home-slider {
  margin-bottom: 32px;
  width: 100%;
}

.home-slider__inner {
  overflow: hidden;
}

.home-slider__list:not(.slick-initialized) {
  background-color: #DFDFE6;
  border-radius: 16px;
  position: relative;
}

.home-card {
  margin-right: -16px;
  margin-left: -16px;
}

.home-card__box {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.home-card__inner {
  border-radius: 16px;
  box-shadow: 0 0 3px rgba($shadow, .2);
  display: block;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 15px 30px rgba($shadow, .1);
  }
}

.home-card__text {
  font-weight: 600;
  color: $blackColor;
}

.home-card__label {
  color: $primaryColor;
  line-height: 1;
}

.home-card__arrow {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  fill: $primaryColor;
  transition: fill .2s ease-in-out;
}

.home-card__more {
  display: flex;
  align-items: center;
}

.home-card__second .home-card__inner {
  background: url(../img/media/home-card-warners.jpg) no-repeat bottom right;
  background-size: contain;
}

.home-slider__media {
  border-radius: 16px;
  display: block;

  &[data-lazy] {
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .home-card__box {
    align-self: flex-end;
  }
  .home-card__inner {
    padding: 33px 30px 0 24px;
  }
  .home-card__text {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .home-slider__inner {
    margin-left: -22px;
    margin-right: -22px;
    padding-left: 22px;
    padding-right: 22px;
  }
  .home-slider__list:not(.slick-initialized) {
    height: 340px;
  }
}

@media (min-width: 1280px) {
  .home-card {
    display: flex;
  }
  .home-card__quiz .home-card__inner {
    background: url(../img/media/home-card-quiz.svg) no-repeat bottom right;
  }
  .home-card__inner {
    min-height: 154px;
  }
}

@media (min-width: 1400px) {
  .home-card__quiz {
    max-width: 55.6%;
    flex-basis: 55.6%;
  }
  .home-card__second {
    max-width: 44.4%;
    flex-basis: 44.4%;
  }
}

@media (max-width: 1279px) {
  .home-card__box {
    margin-top: 16px
  }
}

@media (max-width: 575px) {
  .home-card__inner {
    padding: 27px 16px 25px 24px;
  }
  .home-card__text {
    max-width: 93%;
    margin-bottom: 9px;
    line-height: 24px;
  }
  .home-card__label {
    line-height: 1;
    display: inline-flex;
  }
  .home-slider__inner {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .home-slider__list:not(.slick-initialized) {
    height: 260px;
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .home-card__quiz {
    max-width: 46%;
    flex-basis: 46%;
  }
  .home-card__second {
    max-width: 52%;
    flex-basis: 52%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-card {
    display: flex;
  }
  .home-card__quiz {
    max-width: 48%;
    flex-basis: 48%;
  }
  .home-card__second {
    max-width: 52%;
    flex-basis: 52%;
  }
  .home-card__inner {
    min-height: 154px;
  }
}
