<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a href="https://wineexpress.ru/" class="footer-logo">
        <img src="local/templates/static/img/logo-white.svg" alt="">
      </a>

      <form class="footer-subscription" method="POST" action="#" name="subscribtion_form">
        <label class="footer-subscription__text" for="footer-subscription__field">Узнавай первым о скидках:</label>

        <div class="footer-subscription__box">
          <input type="email" name="email" id="footer-subscription__field" class="footer-subscription__field form-control hide-placeholder" placeholder="Введите ваш e-mail" required>
          <button class="footer-subscription__btn btn-secondary btn" type="submit">
            Подписаться
          </button>
        </div>
      </form>
    </div>

    <div class="footer-nav">
      <div class="footer-nav__box">
        <div class="footer-nav__title js__footer-toggle">
          Каталог
          <svg class="footer-nav__title-icon">
            <use xlink:href="/local/templates/static/img/sprite.svg#arrow-short"></use>
          </svg>
        </div>

        <ul class="footer-menu list-unstyled">
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Тихое вино</a>
          </li>
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Игристое, шампанское</a>
          </li>
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Крепкий алкоголь</a>
          </li>
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Стекло и аксессуары</a>
          </li>
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Деликатесы</a>
          </li>
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Сеты</a>
          </li>
          <li class="footer-menu__item">
            <a href="https://wineexpress.ru/catalog/wine/" class="footer-menu__link">Вода</a>
          </li>
        </ul>
      </div>

      <div class="footer-nav__box">
        <div class="footer-nav__title js__footer-toggle">
          Клиентам
          <svg class="footer-nav__title-icon">
            <use xlink:href="/local/templates/static/img/sprite.svg#arrow-short"></use>
          </svg>
        </div>

        <ul class="footer-menu list-unstyled">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Скидки и Акции</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Винотеки</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Мероприятия</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Частным клиентам</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Корпоративным клиентам</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Условия доставки</a>
          </li>
          <li class="footer-menu__item">
            <a href="/brandshttps://wineexpress.ru/" class="footer-menu__link">Производители</a>
          </li>
        </ul>
      </div>

      <div class="footer-nav__box">
        <div class="footer-nav__title js__footer-toggle">
          О компании
          <svg class="footer-nav__title-icon">
            <use xlink:href="/local/templates/static/img/sprite.svg#arrow-short"></use>
          </svg>
        </div>

        <ul class="footer-menu list-unstyled">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">О нас</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Новости</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Команда</a>
          </li>
        </ul>
      </div>

      <div class="footer-nav__box">
        <div class="footer-nav__title js__footer-toggle">
          Контакты
          <svg class="footer-nav__title-icon">
            <use xlink:href="/local/templates/static/img/sprite.svg#arrow-short"></use>
          </svg>
        </div>

        <ul class="footer-menu list-unstyled">
          <li class="footer-menu__item">
            г. Москва, ул. Поклонная, д. 3, корп. E1
          </li>
          <li class="footer-menu__item">
            Тел. <a href="tel:88005119090" class="footer-menu__link" rel="nofollow">8 (800) 511-90-90</a>
          </li>
          <li class="footer-menu__item">
            Факс +7 (495) 980 1074
          </li>
          <li class="footer-menu__item">
            <a href="mailto:info@wineexpress.ru" class="footer-menu__link" rel="nofollow">Info@wineexpress.ru</a>
          </li>
        </ul>

        <div class="social-footer">
          <ul class="social-footer__list">
            <li class="social-footer__item">
              <a href="https://www.instagram.com/wineexpress.ru/" rel="nofollow" target="_blank">
                <svg class="social-footer__icon">
                  <use xlink:href="/local/templates/static/img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-footer__item">
              <a href="https://www.facebook.com/wineexpresss/" rel="nofollow" target="_blank">
                <svg class="social-footer__icon">
                  <use xlink:href="/local/templates/static/img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-footer__item">
              <a href="https://zen.yandex.ru/id/5e342a964e72656569a2ed07?utm_source=wefooter" rel="nofollow" target="_blank">
                <svg class="social-footer__icon">
                  <use xlink:href="/local/templates/static/img/sprite.svg#zen"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Продажа спиртных напитков несовершеннолетним лицам запрещена.</p>

      <p>
        Мы&nbsp;строго соблюдаем Правила продажи товаров дистанционным способом, утвержденным Постановлением
        Правительства РФ&nbsp;от&nbsp;27.09.2007 №&nbsp;612. Наш сайт является информационной витриной,
        ознакамливающей с&nbsp;ассортиментом винотек Wine Express.
        В&nbsp;соответствии с&nbsp;рекомендациями ФС&nbsp;РАР уведомляем: алкогольная продукция может быть приобретена
        непосредственно в&nbsp;магазинах WineExpress.
      </p>

      <p class="footer-bottom__text-lg">Чрезмерное потребление алкоголя вредит вашему здоровью.</p>

      <p>
        ООО «Вино он-лайн АГ», ИНН:5024064362, лицензия №&nbsp;77РПА0013701 от&nbsp;26&nbsp;января 2018г.&nbsp;101000,
        г.Москва, Чистопрудный Бульвар, 12&nbsp;к4, с&nbsp;10:00&nbsp;до&nbsp;23:00 ежедневно.
        Все информационные материалы и&nbsp;цены, размещенные на&nbsp;сайте, не&nbsp;является публичной офертой,
        определяемой положениями Статьи 437 Гражданского кодекса РФ.
        По&nbsp;всем вопросам приобретения продукции в&nbsp;наших винотеках можно обратиться к&nbsp;личному
        консультанту-сомелье по&nbsp;телефону: <span class="text-nowrap">8-800-511-90-90</span>
      </p>
    </div>

    <div class="footer-copy">
      ©1993-2021 Wine Express by Alianta Group
    </div>
  </div>
</footer>


<div class="darkening-layer"></div>
