<a href="#" class="header-elements__item header-stores">
    <svg class="header-elements__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#pin-stores"></use>
    </svg>
    Винотеки
</a>

<a href="#" class="header-elements__item header-event">
    <svg class="header-elements__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#event"></use>
    </svg>
    Мероприятия
</a>
