<ul class="menu-catalog__list list-unstyled">
  <li class="menu-catalog__item">
    <a href="#" class="menu-catalog__inner">
      <svg class="menu-catalog__icon menu-catalog__icon--action">
        <use xlink:href="/local/templates/static/img/sprite.svg#hot-sale"></use>
      </svg>
      <div>
        <div class="menu-catalog__title menu-catalog__title--action">Скидки и Акции</div>
      </div>
    </a>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-catalog__inner">
      <svg class="menu-catalog__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#wine"></use>
      </svg>
      <div>
        <a href="#" class="menu-catalog__title">Вино</a>

        <div class="menu-catalog__text">
          <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__link">Красное</a>
          <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__link">Белое</a>
          <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__link">Розовое</a>
        </div>
      </div>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-catalog__inner">
      <svg class="menu-catalog__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#sparkling-wine"></use>
      </svg>
      <div>
        <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__title">Игристое, шампанское</a>

        <div class="menu-catalog__text">
          <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__link">Красное</a>
          <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__link">Белое</a>
          <a href="https://wineexpress.ru/catalog/wine/" class="menu-catalog__link">Розовое</a>
        </div>
      </div>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-catalog__inner">
      <svg class="menu-catalog__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#alcohol"></use>
      </svg>

      <div>
        <a href="#" class="menu-catalog__title">Крепкий алкоголь</a>

        <div class="menu-catalog__text">
          <a href="#" class="menu-catalog__link">Виски</a>
          <a href="#" class="menu-catalog__link">Коньяк</a>
          <a href="#" class="menu-catalog__link">Граппа</a>
        </div>
      </div>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-catalog__inner">
      <svg class="menu-catalog__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#delicacies"></use>
      </svg>

      <div>
        <a href="#" class="menu-catalog__title">Деликатесы</a>

        <div class="menu-catalog__text">
          <a href="#" class="menu-catalog__link">Сыр</a>
          <a href="#" class="menu-catalog__link">Колбасы</a>
          <a href="#" class="menu-catalog__link">Закуски</a>
        </div>
      </div>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-catalog__inner">
      <svg class="menu-catalog__icon">
        <use xlink:href="/local/templates/static/img/sprite.svg#water"></use>
      </svg>

      <div>
        <a href="#" class="menu-catalog__title">Вода</a>
      </div>
    </div>
  </li>
</ul>
