<div class="nav-bar">
  <div class="nav-bar-content">
    <div class="nav-bar-panel">
      {% include 'header-link.twig' %}
    </div>

    <div class="nav-bar-menu">
    {% include 'menu-catalog__list.twig' %}
    </div>

    {% include 'top-panel-clients.twig' %}

    {% include 'top-panel-company.twig' %}

    <nav class="top-panel-nav">
      <div class="top-panel-nav__title">Контакты</div>

      <ul class="top-panel-nav__list list-unstyled">
        <li class="top-panel-nav__item">
          Тел <a href="tel:88005119090" class="top-panel-nav__link" rel="nofollow">8 (800) 511 90 90</a>
        </li>
        <li class="top-panel-nav__item">
          Факс <a href="tel:+74959801074" class="top-panel-nav__link" rel="nofollow">+7 (495) 980-10-74</a>
        </li>
        <li class="top-panel-nav__item">
          <a href="mailto:sale@wineexpress.ru" class="top-panel-nav__link" rel="nofollow">Sale@wineexpress.ru</a>
        </li>
        <li class="top-panel-nav__item top-panel-nav__social">
          <a class="top-panel-nav__link" rel="nofollow" target="_blank" href="https://www.instagram.com/wineexpress.ru/">
            <svg class="top-panel-nav__social-icon">
              <use xlink:href="/local/templates/static/img/sprite.svg#instagram"></use>
            </svg>
          </a>

          <a class="top-panel-nav__link" rel="nofollow" target="_blank" href="https://www.facebook.com/wineexpresss/">
            <svg class="top-panel-nav__social-icon">
              <use xlink:href="/local/templates/static/img/sprite.svg#facebook"></use>
            </svg>
          </a>

          <a class="top-panel-nav__link" rel="nofollow" target="_blank" href="https://zen.yandex.ru/id/5e342a964e72656569a2ed07?utm_source=wefooter">
            <svg class="top-panel-nav__social-icon">
              <use xlink:href="/local/templates/static/img/sprite.svg#zen"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
