<nav class="top-panel-nav">
  <div class="top-panel-nav__title">
    <div class="top-panel-nav__text">Клиентам</div>
    <svg class="top-panel-nav__icon">
      <use xlink:href="/local/templates/static/img/sprite.svg#arrow-short"></use>
    </svg>
  </div>

  <ul class="top-panel-nav__list top-panel-nav__right list-unstyled">
    <li class="top-panel-nav__item">
      <a href="/brandshttps://wineexpress.ru/" class="top-panel-nav__link">Производители</a>
    </li>
    <li class="top-panel-nav__item">
      <a href="#" class="top-panel-nav__link">Доставка и оплата</a>
    </li>
    <li class="top-panel-nav__item">
      <a href="#" class="top-panel-nav__link">Частным клиентам</a>
    </li>
    <li class="top-panel-nav__item">
      <a href="#" class="top-panel-nav__link">Корпоративным клиентам</a>
    </li>
  </ul>
</nav>
