<nav class="top-panel-nav">
  <div class="top-panel-nav__title">
    <div class="top-panel-nav__text">О компании</div>
    <svg class="top-panel-nav__icon">
      <use xlink:href="/local/templates/static/img/sprite.svg#arrow-short"></use>
    </svg>
  </div>

  <ul class="top-panel-nav__list list-unstyled">
    <li class="top-panel-nav__item">
      <a href="#" class="top-panel-nav__link">О нас</a>
    </li>
    <li class="top-panel-nav__item">
      <a href="#" class="top-panel-nav__link">Новости компании</a>
    </li>
    <li class="top-panel-nav__item">
      <a href="#" class="top-panel-nav__link">Наша команда</a>
    </li>
  </ul>
</nav>
